<% if @category.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img %>
  <%= f.text_field :img %>

  <%= f.submit %>
<% end %>
